In [1]:
import pandas as pd

**Задание 1**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [6]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [39]:
def classify(mark):
    """Классифицирует фильмы по рейтингу"""
#    mark = ''
 #   rating_row = row ['rating']
    if mark <= 2.0:
        return 'низкий рейтинг'
    elif (2< mark <= 4.0):
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [40]:
ratings['class'] = ratings['rating'].apply(classify)

In [41]:
ratings.head(10)

   userId  movieId  rating   timestamp            class
0       1      307     3.5  1256677221  средний рейтинг
1       1      481     3.5  1256677456  средний рейтинг
2       1     1091     1.5  1256677471   низкий рейтинг
3       1     1257     4.5  1256677460  высокий рейтинг
4       1     1449     4.5  1256677264  высокий рейтинг
5       1     1590     2.5  1256677236  средний рейтинг
6       1     1591     1.5  1256677475   низкий рейтинг
7       1     2134     4.5  1256677464  высокий рейтинг
8       1     2478     4.0  1256677239  средний рейтинг
9       1     2840     3.0  1256677500  средний рейтинг

In [42]:
ratings.tail(10)

          userId  movieId  rating   timestamp            class
27753434  283228     7132     4.5  1379882876  высокий рейтинг
27753435  283228     7215     4.5  1354137333  высокий рейтинг
27753436  283228     7831     5.0  1379882907  высокий рейтинг
27753437  283228     7834     5.0  1379882865  высокий рейтинг
27753438  283228     8228     5.0  1354137317  высокий рейтинг
27753439  283228     8542     4.5  1379882795  высокий рейтинг
27753440  283228     8712     4.5  1379882751  высокий рейтинг
27753441  283228    34405     4.5  1379882889  высокий рейтинг
27753442  283228    44761     4.5  1354159524  высокий рейтинг
27753443  283228    54286     4.5  1354159718  высокий рейтинг

In [319]:
len(ratings['movieId'].unique())

53889

**Задание 2**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [2]:
# Из текущей папки

keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [3]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [30]:
def geo_classify(row):
    aim = row.strip().split()
    for keys, values in geo_data.items():
        for word in aim:
            if word in values:
                return keys
    return 'undefined'

In [40]:
keywords['region'] = keywords['keyword'].apply(geo_classify)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
keywords['region'][99998][4]

In [29]:
type(keywords['region'][99998][4])

str

In [43]:
keywords[keywords['region'] == 'Центр'].head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр

In [44]:
keywords[keywords['region'] == 'Северо-Запад'].head()

                       keyword   shows        region
370   авито ру санкт петербург  425134  Северо-Запад
1236      банк санкт петербург  174375  Северо-Запад
1346           санкт петербург  144232  Северо-Запад
2153               авито псков   98931  Северо-Запад
2398            авито мурманск   89787  Северо-Запад

In [45]:
keywords[keywords['region'] == 'Дальний Восток'].head()

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток

ИНТЕРЕСНО БУДЕТ ЧТОБЫ ВНУТРИ ВСЕХ ЭТИХ ТРЕХ ВЕРХНИХ СТРОЧЕК ПОКАЗАЛИ
ОПРЕДЕЛЁННЫЙ ГОРОД ВНУТРИ РЕГИОНА ПО ЗНАЧЕНИЮ KEYWORD
А ТО УЖ РЕГИОН ОПРЕДЕЛИЛИ А ДОПОЛНИТЕЛЬНО ПРОВЕСТИ ФИЛЬТРАЦИЮ?

**Задание 3 (бонусное)**

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
	- для каждой строки пройдите по всем годам списка years
	- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
	- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

Загрузим изначальные данные, 'с нуля':

In [46]:
ratings = pd.read_csv('ml-latest/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [86]:
ratings.shape

(27753444, 4)

и начнём:

In [182]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [87]:
movies.shape

(58098, 3)

In [297]:
years = []
for x in range(1950, 2011):
    x = str(x)
    years.append(x)

In [298]:
years[0]

'1950'

In [299]:
import re

In [300]:
pattern = r'(1|2)(\d{3})'

In [301]:
res = re.search(pattern, string).group()

In [302]:
def production_year(row):
# aim = row.strip().split()
    pattern = r'\d{4}'
    res = re.findall(pattern, row) #.group()
#    res = res_.match()
    for year in years:
        if year in res:
            return year
    return 1900
#  return res

In [308]:
movies['year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [310]:
movies.tail(15)

,movieId,title,genres,year
58083,193857,Beautiful Women (2005),Drama,2005
58084,193859,"You, Me and Him (2018)",Comedy,1900
58085,193861,Cold Harvest (1998),Action|Sci-Fi|Thriller,1998
58086,193863,Cocaine Godmother (2017),Documentary|Drama,1900
58087,193864,No somos de piedra (1968),Comedy,1968
58088,193866,Tales from the Hood 2 (2018),Horror,1900
58089,193868,Dos tipos de cuidado (1953),Comedy|Drama|Romance|Western,1953
58090,193870,Isabelle Eberhardt (1991),(no genres listed),1991
58091,193872,Room Laundering (2018),Drama,1900
58092,193874,Blondie's Big Moment (1947),Comedy,1900
58093,193876,The Great Glinka (1946),(no genres listed),1900
58094,193878,Les tribulations d'une caissière (2011),Comedy,1900
58095,193880,Her Name Was Mumu (2016),Drama,1900
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,1900
58097,193886,Leal (2018),Action|Crime|Drama,1900

Может ли являться паттерном в регулярках значение списка (или вообще ПЕРЕМЕННАЯ)?

In [232]:
import re

In [165]:
string = movies['title'][0]

In [166]:
string

'Toy Story (1995)'

In [167]:
pattern = r'(1|2)(\d{3})' #Ладно создали регулярку по поиску года, а если список 'годов' уже есть?
# Можно, конечно, загореться и с помощью регулярок правильно написать 
# регулярку которая аналогично диапазону между годами... но это отдельная история,
# данная регулярка точно не соответствует диапазону

In [168]:
repl = r'(\1)(\2)'

In [175]:
res = re.search(pattern, string).group()

In [176]:
res

'1995'